*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: white;
}
li{
    list-style-type: none;
}
button:focus{
    box-shadow: none !important;
}
.header-links{
    display: flex;
    align-items: center;
    margin-top: 7px;
}
.header-links li a{
    display: block;
    margin-right: 10px;
    font-size: 18px;
    color: white;
}
.nav-item p{
    font-size: 17px;
    font-weight: 500;
}
.logo{
    width : 180px;
    height: 60px;
    object-fit: cover;
}
.navbar-brand{
    font-size: 35px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav-colass{
    display: flex;
    flex-direction: column !important;
    background-color: red;
}
.user-side-parent{
    display: none;
}
.user-side{
margin-right: 20px;
text-align: center;
}
.user-icon {
    font-size: 35px;
}
.shoppin-car-side{
    display: flex;
    align-items: center;
    margin-top: 17px;
    margin-right: 70px;
}
.shoppin-icon{
    font-size: 20px;
    color: rgb(70, 70, 128);
    cursor: pointer;
}
.badge{
    width: 20px;
    height: 20px;
    padding: 3px;
    text-align: center;
    font-size: 14px;
    color: rgb(70, 70, 128);
    display: block;
}
.item-in-cart{    
    width: 225px;
    max-height: 350px;
    border:1px solid #ddd;
    background-color: white;
    position: absolute;
    top: 73px;
    right: 0px;
    z-index: 10;
    overflow-y: auto;
    padding: 5px;
    text-align: center;
    display: none;

}
.viewAllProductbtn{
    font-size: 18px;
    width: 100%;
    margin: 0 !important;
    margin-top: -5px !important;
    margin-bottom: 5px !important;
    padding: 5px;
    text-align: center;
}
.viewAllProductbtn a{
    color: rgb(10, 10, 10);

}
.viewAllProductbtn:hover{
    background-color:  #ecf0f1
}
.added-item-in-cart-div{
       width: 100%;
    height: 115px;
    background-color: #ecf0f1;
    border: 1px solid #ddd;
    border-radius: 7px;
    margin-top: 9px;
    display: flex;
    padding: 8px;
    padding-top: 15px;
    gap: 30px;
}
.added-item-in-cart-div button{
    background-color:transparent;
    border: 0;
}
.added-item-in-cart-div .increase-btn , .added-item-in-cart-div .decrease-btn{
width: 25px;
height:30px;
border: 1px solid rgb(73, 73, 73);
border-radius: 4.5px;
margin-left: 2px;

}
.added-item-in-cart-div .increase-btn:hover , .added-item-in-cart-div .decrease-btn:hover{
    background-color: rgb(58, 58, 58);
    color: white;
}
.added-item-in-cart-div span{
    padding-left: 1px;
}
.logout-a{
 font-size: 20px;
 border: 1px solid rgb(163, 7, 7);
 background: transparent;
 color :rgb(163, 7, 7) !important;
 margin-top: 7px; 
 height: 40px; 
 padding-top: 2px !important;

}
.logout-a:hover{
    color: white !important;
}
/* ///////////////// */
.item-side{
    margin-top: 50px;
}
.item-parent{
    width: 100%;
    display: flex !important;
    flex-wrap: wrap;
    gap: 35px 0px ;
}
.added-item-div{
    max-height: 280px;
    width: 90%;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.added-item-div:hover{
    border: 2px solid red;
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(0,0,0,.2);
}
.added-item-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;

}
.added-item-div .increase-btn , .added-item-div .decrease-btn{
width: 30px;
height:35px;
border: 1px solid rgb(73, 73, 73);
border-radius: 5px;
 background-color:transparent;

}
.added-item-div .increase-btn:hover , .added-item-div .decrease-btn:hover{
    background-color: rgb(58, 58, 58);
    color: white;
}
.item-side h3{
    text-align: center;
    font-size: 27px;
    margin-top: 15px;
    text-transform: capitalize;
}
    .remove-from-cart-btn{
        margin-top: 15px;
    }
    
/* ////////////////// */

.fav-item-parent{

    text-align: center;
}
.fav-item-parent h2 {
    font-size: 40px;
    width: 280px;
    display: block;
    margin: auto;
    border-bottom: 3px solid red;
    padding-bottom: 10px;
    margin-bottom: 20px;
    transition: .3s;
}
.fav-item-parent h2:hover{
      width: 600px;
}
.fav-item-div{
    width: 93%;
    display: flex;
    justify-self: end;
    align-items: center;
    overflow-x: auto;
    margin-bottom: 30px;
    gap: 0px 10px;
}
.fav-div{
    height: 315px;
    display: flex;
    flex-direction: column;
    gap: 7px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.fav-div:hover{
    border: 2px solid red;
    transform: translateY(-8px);
    box-shadow: 0px 4px 5px 3px rgba(0,0,0,.2);
}
.fav-div img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.fav-div i {
    color: red;
    cursor: pointer;
}